<h1>Please enter your direction</h1>

<form>
  <fieldset class="form-group">
    <label>Address:</label>
    <input type="text" class="form-control" id="autocompleteGoogle"/>
    <small class="text-muted" id="searchResultsGoogle">Please enter your address in format <b>Street, City, Country</b>.</small>
  </fieldset>
</form>

<div id="saveResultGoogle" style="display: none">
  <%= simple_form_for @user do |f| %>
    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :latitude, :as => :hidden,
        :input_html => {
          :id => "addressLatitudeGoogle"
        } %>
      <%= f.input :longitude, :as => :hidden,
        :input_html => {
          :id => "addressLongitudeGoogle"
        } %>
    </div>
    <div class="form-inputs">
    <%= f.button :submit, class: 'btn btn-success' %>
    </div>
  <% end %>
</div>

<hr>

<table class="table">
  <thead>
    <tr>
    <th><span>User</span></th>
    <th><span>Created</span></th>
    <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <%= render :partial => 'users/user', locals: { user: u } %>
    <% end %>
  </tbody>
</table>
