<!DOCTYPE html>
<html>
<head>
  <title>MapsExample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG-I4LxfH9WUGpEN3XdlByMoRHz-AZzJA&signed_in=true&libraries=places&callback=initAutocomplete" defer></script>
</head>
<body>

<div id="wrapper">
  <div id="page-wrapper">
    <div class="col-xs-offset-2 col-xs-8">
      <%= render 'layouts/header' %>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
